.tab {
  padding-left: 0;
}

.tab ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.tab-bar button {
  text-decoration: none;
  border: none;
  outline: none;
  width: 160px;
  height: 48px;
  margin: -1px;
  background: #fff;
  font-size: 12px;
  border: solid #ccc;
  border-width: 1px;
}

.tab-bar__items--active button {
  border-top-color: #4589ff;
  border-width: 3px 1px 0px 1px;
  color: #4589ff;
  font-weight: 700;
}
