.tab {
  padding-left: 0;
}

.tab ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  background: #fbfcff;
  border-bottom: 1px solid #ccc;
}

.tab__img {
  margin-left: auto;
  padding: 0 16px 0 16px;
  display: flex;
  align-items: center;
}

.tab-bar button {
  text-decoration: none;
  border: none;
  outline: none;
  padding: 0px 30px 0px 30px;
  height: 48px;
  margin: -1px;
  background: #fff;
  font-size: 12px;
  border: solid #ccc;
  border-width: 1px;
}

.tab-bar__items--active button {
  border-top-color: #4589ff;
  border-width: 3px 1px 0px 1px;
  color: #4589ff;
  font-weight: 700;
}

.tab-body {
  padding: 70px 0 10px 50px;
}

.tab-body__category {
  color: #8b8b8b;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.25px;
}

.tab-body__title {
  color: #203b69;
  font-size: 22px;
  font-weight: 700;
}

.tab-body__cards {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 42px;
}
