* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  background: #d6d8df;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background: #ffffff;
  flex-grow: 1;
}
