* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope';
  font-weight: 500;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

.App {
  display: flex;
  background: #d6d8df;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background: #ffffff;
  flex-grow: 1;
  padding: 10px;
}
